body {
 background-color:#162127;
 
}
.nav{
   background-color: #243040;
}
.body1 {
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
}
.cardImage{
    background-image: url('../assets/71217457.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.row2{

    background-color:#e3f2fd;
}
.add-reviews{
    font-size: smaller;
    background-color: #4a0072;
}
 .reviews{
    
    background-color: #4a0072;
    height: 37px;
    text-align: center;
 }
.send-btn{
   background-color: #4a0072;
   font-size: smaller;

   
}


