body {
  background-color: #162127;
}
.address {
  font-weight: bold;
}
.add-reviews {
  font-size: smaller;
  background-color: #4a0072;
}
.buttonRating :focus {
  outline: none;
}
.buttonRating :focus {
  outline: none;
}
.cards {
  margin-top: 50px !important;
  padding: 20px;
}
.close-btn {
  background-color: #c93030;
  font-size: smaller;
}
.filter {
  cursor: pointer;
}
.gm-style .gm-style-iw-c {
  max-width: 250px !important;
}

.img-fluid {
  height: 60% !important;
  width: 100%;
  max-height: 200px;
}
.logo {
  height: 30px;
}

.nav {
  background-color: #243040;
}

.reviews {
  background-color: #4a0072;
  height: 37px;
  text-align: center;
}
.row2 {
  background-color: #e3f2fd;
}
.rating {
  color: rgb(230, 173, 19);
}

.send-btn {
  background-color: #4a0072;
  font-size: smaller;
}

@media only screen and (max-width: 600px) {
  .cards {
    margin-top: 75px;
  }
  .map {
    height: 400px;
  }
}
