body {
 background-color:#162127;
 
}
.nav{
   background-color: #243040;
}
.body1 {
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
}
.cardImage{
    background-image: url('../assets/71217457.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.row2{

    background-color:#e3f2fd;
}
